@font-face {
  font-family: 'UnCut';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''), url('/fonts/Uncut-Sans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'UnCut';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url('/fonts/Uncut-Sans-Bold.woff') format('woff');
}
