---
import Layout from '../layouts/Layout.astro';
---

<Layout title="astro-cube">
  <main>
    <article class="prose wrapper hero">
      <h1>Synter</h1>

      <h2>Producer of deep and groovy house beats</h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>bio</h3>
          <p>
            Synter is the music brainchild of Vasily M., an eclectic electronic
            musician and producer originally from Russia, brought up in sunny
            California. Seeking more creative freedom beyond the psytrance sound
            of his better-known project, Konflux, Vasily launched Synter as a
            platform to fuse various EDM styles that inspire him, especially
            techno, house, trance, electro, and breaks.
          </p>
          <p>From hard-hitting
            underground warehouse techno to soothing deep house grooves,
            Synter's productions traverse different tempos, textures, and vibes.
            But a common thread is Vasily's aptitude for lush soundscapes, dark,
            hypnotic rhythms, and clever stylistic blending.
          </p>
          <p>After building buzz
            in the California festival scene, Vasily relocated Synter to New
            York City for new challenges and a fresh perspective. He was based
            in Brooklyn's vibrant underground music community for a while before
            he started traveling around the world in search of inspiration.</p>
          <p>Currently, he lives between New York City, Miami, São Paulo, and
            Chiang Mai.</p>
          </p>
        </li>
      </ul>

      <ul role="list" class="grid features">
        <li class="flow">
          <h3>listen</h3>
          <p>
            Stream at <a href="https://music.apple.com/us/album/mission-creeps-ep/1723624079">Apple Music</a>,
            <a href="https://open.spotify.com/artist/6FbJuUf1xrk9D0RZCbsicp">Spotify</a>, or
            <a href="https://music.youtube.com/playlist?list=OLAK5uy_kSzXAS4ZHpkPp1ljP9ziyRtp4P6Tvb0Vw&si=dooplCkRv9qluKwq">YouTube Music</a>.
            Find extra audio at <a href="https://soundcloud.com/synter">SoundCloud</a>.
          </p>
        </li>

        <li class="flow">
          <h3>contact</h3>
          <p>
            Email at<br>
            <b>syntermusic [at] gmail [dot] com</b>
          </p>
        </li>
      </ul>
    </article>

    <footer class="region prose wrapper">
      Copyright &copy; 2024 <span role="img" aria-label="waving hand emoji"
        >👋</span
      > Vasily Simon
    </footer>
  </main>
</Layout>
