---
import Layout from '../layouts/Layout.astro';
---

<Layout title="astro-cube">
  <main>
    <article class="region prose wrapper hero">
      <h1>Synter Music</h1>

      <h2>
        A producer of deep and groovy house beats
      </h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>listen</h3>
          <p>
            Barebones, <em>just Astro</em> and <em>pure CSS</em>, no other
            external tools, extra build step or client-side JavaScript.
          </p>
        </li>

        <li class="flow">
          <h3>contact</h3>
          <p>
            Everything here is just suggestive, remove, add, tweak, copy/paste,
            <em>knock yourself out</em>.
          </p>
        </li>
      </ul>
    </article>

    <footer class="region prose wrapper">
      Copyright &copy; 2024 <span role="img" aria-label="waving hand emoji"
        >👋</span> Vasily Simon
    </footer>
  </main>
</Layout>
